Repository abayomi2/azure-m365: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

pipelines/azure-pipelines-app.yml:
  name: ish-ci-$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - bash: 'set -euo pipefail
  
      echo "ACR_NAME=$(ACR_NAME)"
  
      echo "ACR_LOGIN_SERVER=$(ACR_LOGIN_SERVER)"
  
      echo "RESOURCE_GROUP=$(RESOURCE_GROUP)"
  
      echo "WEBAPP_NAME=$(WEBAPP_NAME)"
  
      : "${ACR_NAME?ACR_NAME is empty}"
  
  ...

pipelines/azure-pipelines-infra.yml:
  stages:
  - stage: Validate
    jobs:
    - job: tfvalidate
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
      - bash: 'cd infra/envs/dev
  
          terraform init -upgrade
  
          terraform fmt -check
  
          terraform validate
  
          '
      - bash: 'pipx install checkov || true
  ...

updaated azure-pipelines-app.yml variables
  pipelines/azure-pipelines-app.yml
Due: none

updaated azure-pipelines-app.yml variables2
  pipelines/azure-pipelines-app.yml
Due: none

updaated azure-pipelines-app.yml variables3
  pipelines/azure-pipelines-app.yml
Due: none

updated azure-pipeline-app.yml4
  infra/envs/dev/main.tf
Due: pipelines/azure-pipelines-infra.yml

updated app with colorful landing page
  app/api/Dockerfile
  app/api/package.json
  app/api/public/index.html
  app/api/public/style.css
  app/api/server.js
  pipelines/azure-pipelines-app.yml
Due: pipelines/azure-pipelines-app.yml

updated with observability and policy module
  README.md
  app/api/package.json
  app/api/server.js
  infra/envs/dev/main.tf
  infra/modules/appservice/main.tf
  infra/modules/appservice/outputs.tf
  infra/modules/appservice/variables.tf
  infra/modules/container_registry/main.tf
  infra/modules/network/main.tf
  infra/modules/observability/main.tf
  infra/modules/observability/outputs.tf
  infra/modules/observability/variables.tf
  infra/modules/policy/main.tf
Due: pipelines/azure-pipelines-app.yml, pipelines/azure-pipelines-infra.yml

added runbooks for users onboarding
  automation/runbooks/Intune-Policies.ps1
  automation/runbooks/New-TeamSite.ps1
  automation/runbooks/Onboard-Users.ps1
  automation/runbooks/README.md
  infra/envs/dev/Set-UsageLocation-And-License.ps1
  infra/envs/dev/main.tf
  infra/modules/m365_automation/main.tf
  infra/modules/m365_automation/variables.tf
Due: pipelines/azure-pipelines-infra.yml

Path conditions:
  pipelines/azure-pipelines-app.yml: any of: app
  pipelines/azure-pipelines-infra.yml: any of: infra
